@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
   
  <h2 style="color:#FF0000";>LOGIN FORM </h2>

    <link rel= "stylesheet" type ="text/css" href ="~/css/styles.css">

</div>

<body style="background-image: url('/images/black.jpg')">
    <div class ="login-form">
      
        <form action ="#" methord ="post">
            <p> User Name</p>
            <input type ="text" name = "user" placeholder = "User Name">
            <p>Password<p/>
            <input type ="password" name = "passwordr" placeholder = "Password">
            <button type ="submit"> Login</button>

        </form>
                    
    </div>
    </body>

